<div class="row">
    <div class="col-sm-10">
      <form novalidate #fo="ngForm"    (ngSubmit)="mysbmit(fo)">
        <div class="form-group">
          <label for="userName">User Name:</label>
          <input type="text" disabled class="form-control" name="userName" [(ngModel)]="employee.userName"
          #employeeuserName="ngModel"
          required minlength="4">
          <div *ngIf="employeeuserName.errors?.['required'] && employeeuserName.touched" class="alert alert-danger"> User name is required</div>
        <div *ngIf="employeeuserName.errors?.['minlength'] && employeeuserName.touched" class="alert alert-danger">You need more chars</div>
        </div>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="employee.firstName"
            #employeefirstName="ngModel"
            required minlength="4">
            <div *ngIf="employeefirstName.errors?.['required'] && employeefirstName.touched" class="alert alert-danger"> First name is required</div>
          <div *ngIf="employeefirstName.errors?.['minlength'] && employeefirstName.touched" class="alert alert-danger">You need more chars</div>
          </div>
      
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="employee.lastName"
            #employeelastName="ngModel"
            required minlength="4">
            <div *ngIf="employeelastName.errors?.['required'] && employeelastName.touched" class="alert alert-danger"> Last name is required</div>
          <div *ngIf="employeelastName.errors?.['minlength'] && employeefirstName.touched" class="alert alert-danger">You need more chars</div>
          </div>
      
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="employee.email"
            #employeeemail="ngModel"
            required minlength="4">
            <div *ngIf="employeeemail.errors?.['required'] && employeeemail.touched" class="alert alert-danger"> Email is required</div>
          </div>
      
          <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" class="form-control" name="country" [(ngModel)]="employee.country"
            #employeecountry="ngModel"
            required minlength="4">
            <div *ngIf="employeecountry.errors?.['required'] && employeecountry.touched" class="alert alert-danger"> Country is required</div>
          </div>
      
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="employee.city"
            #employeecity="ngModel"
            required minlength="4">
            <div *ngIf="employeecity.errors?.['required'] && employeecity.touched" class="alert alert-danger">City is required</div>
          </div>
      
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="employee.phone"
            #employeephone="ngModel"
            required minlength="10">
            <div *ngIf="employeephone.errors?.['required'] && employeephone.touched" class="alert alert-danger"> phone is required</div>
          <div *ngIf="employeephone.errors?.['minlength'] && employeephone.touched" class="alert alert-danger">You need more chars</div>
          </div>
      
          <div class="form-group">
            <label for="salair">Salair:</label>
            <input type="text" class="form-control" name="salair" [(ngModel)]="employee.salair"
            #employeesalair="ngModel"
            required minlenth="10" [disabled]="disableedsalaredit">
            
            <div *ngIf="employeesalair.errors?.['required'] && employeesalair.touched" class="alert alert-danger"> salair is required</div>
          <div *ngIf="employeesalair.errors?.['minlength'] && employeesalair.touched" class="alert alert-danger">You need more chars</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-2"><a [routerLink]="['/employee/',id]" class="btn btn-primary">Employee Info page<i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a></div>
</div>
